# Virtual Environment
.venv/
venv/
env/

# Data & Temp (Big Files)
HI-Medium_Trans.csv
HI-Medium_Patterns.txt
data/
spark-temp/
spark-warehouse/
.tmp/
hadoop/

# Logs
logs/

# Python Cache
__pycache__/
*.pyc

# AI Metadata & Reports
analysis_results.md
implementation_plan.md
walkthrough.md
task.md
